  
body {    
    background:#051D3B;
    font-family: 'Inter', sans-serif; 
    font-weight: 400;
}

.container {
    width: 94%;
    margin: 2% auto;
}

.option-mobile{
    display: none;
}

.headerM .container {
    display: flex;
    justify-content:space-between;    
}

.input-busca {
    width: 54rem;
    height: 56px;    
    padding: 0 14px;
    background: rgba(255, 255, 255, 0.16);
    border-radius: 8px;
    font-size: 1rem; /* 1rem = 16px */
    line-height: 24px;  
    color: #ffffff;
    opacity: 0.64;
    border: none;    
}


.profile {
    display: flex;
    align-items: center;
    font-size: 1rem;
    line-height: 24px;
    color: #ffffff;
    margin: 0 0 0 6.5em;    
}

.profile img {
    margin: 0 8px;
}

.menu {
    margin: 0 0 1rem;
}

.menu-item{
    padding: 0 0 0 1rem;
    color: #FFFFFF;
    font-size: 1rem;    
    text-decoration: none; 

    position: absolute;    
    margin: 1.1% 0;   
}

.titulo-menu {
    color: #FFFFFF;
    font-size: 12px;    
    letter-spacing: 0.4em;
    text-transform: uppercase;    
    margin: 0 0 1rem;
}

.rectangle37 {
    background: #5081FB;
    height: 48px;
    width: 48px;    
    display: inline-block;
    border-radius: 1rem;
    text-align: center;
}

.rectangle37 img {
    margin-top: 25%;
}

main .container{
    display: flex;
    justify-content: space-between;
}

.div-code {    
    position: absolute;   
    left: 21.5rem;     
    top: 7.6rem;
    width: 54rem;
}
.code {    
    background: #6BD1FF;    
    border-radius: 8px;  
    padding: 2rem;    
}

.code_editor {
    background: #141414;
    width: 100%;
    height: 18.8rem;
    box-shadow: 0px 1rem 24px rgba(0, 0, 0, 0.24);
    border-radius: 8px;  
    
}
.ellipse {   
    margin-left: 1rem;
    margin-top: 1rem;     
}

.my-code {
    color: #ffffff;
    width: 656px;
    height: 234px;
    font-size: 14px;
    line-height: 18px;
    font-family: 'Roboto Mono', monospace;     
    margin: 24px 1rem 1rem 1rem;    
}

.btn {
    width: 54rem;
    height: 56px;
    background: rgba(80, 129, 251, 0.08);
    border-radius: 8px;  
    border: none;
    font-size: 1rem;
    line-height: 24px;
    color: #FFFFFF;
    margin: 2rem 0 0 0;
    
}

.rectangle29 {
    width: 100%;
    height: 56px;    
    background: none;
    border: 1px solid #FFFFFF;
    box-sizing: border-box;
    border-radius: 8px;
    margin: 1rem 0 2rem;
}

.rectangle-color {
    width:  95%;
    height: 40px;    
    margin: 8px;    
    background: none;
    border: none;
    cursor: pointer;    
    border-radius: 8px;    
}
  /* ---------------------------------  BORDA ARREDONDADA  ------------------------   */
.rectangle-color::-webkit-color-swatch-wrapper {
    padding: 0px;
    margin: 0px;
}

.rectangle-color::-webkit-color-swatch {
    border: none;
    border-radius: 8px;
}

.rectangle-color::-moz-color-swatch-wrapper {
    padding: 0px;
    margin: 0px;
}

.rectangle-color::-moz-color-swatch {
    border: none;
    border-radius: 8px;
}
  /* ---------------------------------  ------------------------  ------------------------   */

.meu-projeto .projeto, .input-linguagem {
    width: 272px;
    height: 56px;

    background: rgba(255, 255, 255, 0.16);
    color: #ffffff;
    border-radius: 8px;

    font-size: 1rem;
    line-height: 24px;
    border: none;
    padding: 0 14px;   

    opacity: 0.64;
}

 .input-linguagem{
    width: 100%;
    background-color: #354d6b;
 }
#descricao-projeto {
    height: 80px;
    margin: 1rem 0 2.5rem;  
}
.input-salvar {
    color: #051D3B;
    background: #5081FB;
    width: 302px;
    height: 56px;
        
    border-radius: 8px;
    font-size: 1rem;
    line-height: 24px;
    border: none;
    padding: 0 14px; 

}

.btn:hover, .input-salvar:hover{
    border: solid #6BD1FF;    
    cursor: pointer;
}

.opacity{     
    opacity: 0.56;   
}

