body {
  background: #051d3b;
  font-family: "Inter", sans-serif;
  font-weight: 400;
}

.container {
  width: 94%;
  margin: 2% auto;
}

.option-mobile {
  display: none;
}

.headerM .container {
  display: flex;
  justify-content: space-between;
}

.input-busca {
  width: 54rem;
  height: 3.5rem;
  padding: 0 14px;
  background: rgba(255, 255, 255, 0.16);
  border-radius: 8px;
  font-size: 1rem; /* 1rem = 16px */
  line-height: 24px;
  border: none;
  color: rgba(255, 255, 255, 0.64);
  caret-color: white;
}
.profile {
  display: flex;
  align-items: center;
  font-size: 1rem;
  line-height: 24px;
  color: #ffffff;
  margin: 0 0 0 4.8em;
  padding: 0.7rem 1rem 0.7rem 0.7rem;
  border-radius: 8px;
}
.profile:hover {
  background: #ffffff14;
  cursor: pointer;
}
.profile img {
  margin: 0 8px;
}
.menu {
  margin: 0 0 1rem;
}
.menu {
  opacity: 56%;
}
.menu:hover {
  opacity: 72%;
  background: rgba(80, 129, 251, 0.64);
  border-radius: 1rem;
  height: 48px;
  width: 48px;
}
.no-opacity {
  opacity: 100%;
}

.menu-item {
  padding: 0 0 0 1rem;
  color: #ffffff;
  font-size: 1rem;
  text-decoration: none;

  position: absolute;
  margin: 1.1% 0;
}
.titulo-menu {
  color: #ffffff;
  font-size: 12px;
  letter-spacing: 0.4em;
  text-transform: uppercase;
  margin: 0 0 1rem;
}
.rectangle37 {
  background: rgba(80, 129, 251, 0.16);
  height: 48px;
  width: 48px;
  display: inline-block;
  border-radius: 1rem;
  text-align: center;
}
.rectangle37_focus {
  background: rgba(80, 129, 251, 1);
}
.rectangle37 img {
  margin-top: 25%;
}

main .container {
  display: flex;
  justify-content: space-between;
}

.div-code {
  width: 54rem;
  position: absolute;
  left: 21.5rem;
  top: 7.6rem;
}
.code {
  background: #6bd1ff;
  border-radius: 8px;
  padding: 2rem;
  height: 18.8rem;
}

.code_editor {
  background: rgba(20, 20, 20, 1);
  width: 100%;
  height: 100%; /* 18.8rem */
  box-shadow: 0px 1rem 24px rgba(0, 0, 0, 0.24);
  border-radius: 8px;  
}
.ellipse {
  margin-left: 1rem;
  margin-top: 1rem;
}
.my-code {
  height: 76%;
  width: 95.6%;
  margin: 1.5rem 1rem 1rem 1rem;
}
#codigo { 
  width: 100%;
  height: 100%;
  margin: 0 0 0 0;
  resize: none;
  border: none;
  outline: none;
  overflow: auto;
  background-color: rgba(20, 20, 20, 1);
  color: #ffffff;
  font-size: 14px;
  line-height: 18px;
  font-family: "Roboto Mono", monospace;
}
.btn {
  width: 54rem;
  height: 56px;
  background: rgba(80, 129, 251, 0.08);
  border-radius: 8px;
  border: none;
  font-size: 1rem;
  line-height: 24px;
  color: #ffffff;
  margin: 2rem 0 0 0;
}
.btn:hover {
  background: rgba(80, 129, 251, 0.16);
  cursor: pointer;
  animation-timing-function: ease-out;
  animation-duration: 300ms; 
}
.btn:active {
  background: rgba(80, 129, 251, 0.16);
  border: 4px solid rgba(80, 129, 251, 0.24);
}
.btn:focus {
  background: rgba(80, 129, 251, 0.24);
}
.rectangle29 {
  width: 100%;
  height: 56px;
  background: none;
  border: 1px solid #ffffff;
  box-sizing: border-box;
  border-radius: 8px;
  margin: 1rem 0 2rem;
}

.rectangle-color {
  width: 95%;
  height: 40px;
  margin: 8px;
  background: none;
  border: none;
  cursor: pointer;
  border-radius: 8px;
}
/* ---------------------------------  BORDA ARREDONDADA  ------------------------   */
.rectangle-color::-webkit-color-swatch-wrapper {
  padding: 0px;
  margin: 0px;
}

.rectangle-color::-webkit-color-swatch {
  border: none;
  border-radius: 8px;
}

.rectangle-color::-moz-color-swatch-wrapper {
  padding: 0px;
  margin: 0px;
}

.rectangle-color::-moz-color-swatch {
  border: none;
  border-radius: 8px;
}
/* ---------------------------------  ------------------------  ------------------------   */

.projeto,
.input-linguagem {
  width: 272px;
  height: 56px;

  background: rgba(255, 255, 255, 0.16);
  color: rgba(255, 255, 255, 0.64);
  border-radius: 8px;

  font-size: 1rem;
  line-height: 24px;
  border: none;
  padding: 0 14px;
}
.input-linguagem {
  width: 100%;
  background: #354d6b;
}
#descricao-projeto {
  padding-top: 0rem;
  padding-bottom: 1.5rem;
  margin: 1rem 0 2.5rem;
}
.input-salvar {
  color: #051d3b;
  background: #5081fb;
  width: 302px;
  height: 56px;

  border-radius: 8px;
  font-size: 1rem;
  line-height: 24px;
  border: none;
  padding: 0 14px;
}
.input-salvar:hover {
  background: rgba(123, 164, 252, 1);
  cursor: pointer;
  animation-timing-function: ease-out;
  animation-duration: 300ms; 
}
.input-salvar:active {
background: rgba(123, 164, 252, 1);
border: 4px solid rgba(80, 129, 251, 0.72);
}
.input-salvar:focus {
  background: rgba(150, 185, 253, 1);
}



