/*  ------------------------------- COMUNIDADE -----------------------------------   */

.exibicao-projetos {
    width: 92vw;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;       
}
.lista-projeto {
    margin-bottom: 2rem;
    margin-left: 0;    
    width: 92vw;
    height: 35rem;
    display: flex;
    flex-direction: column; 
}
.my-code {
    font-size: 14px;
    line-height: 18px;
}
#codigo {    
    width: auto;    
    height: 100%;
    margin-left: -0.9rem;    
}
.name-user{   
    margin: 0 1rem 0 0.5rem;
}
.love-up-efeito {
    margin: 0 0 0 1.1rem;
}
.love-up,
 .coment-up {
     margin: 0 0 0 0.6rem;
     color: #FFFFFF;
 }
 .menu-principal {    
    right: 10%;
}
















