/*  ------------------------------- COMUNIDADE -----------------------------------   */

.exibicao-projetos {
    position: relative;
    left: 2rem;
    right: 1rem;
    display: flex;
    flex-direction: column;
    width: 92vw;
}
.lista-projeto {
    margin-bottom: 2rem;
    margin-left: 0;    
    width: 92vw;
    height: 35rem;
}
.my-code {
    width: 100%; /* texto */
    font-size: 14px;
    line-height: 18px;
}
.code {
   height: 55%;  /* cor fundo */
}
#codigo {    
    width: 98%;    
    height: 103%;
    margin-left: -0.9rem;    
}
.code_editor {    
    height: 100%;
}
.cod-profile {
    margin-left: 76%;
}
.lista-projeto1 .code {
    background: #5F75E2;    
}    
.lista-projeto2 .code {
    background: #FF6BCD;    
}    
.lista-projeto3 .code {
    background: #FFC46B;    
}    
.lista-projeto4 .code {
    background: #9AFF6B;    
}    