.container {
    margin: 5% 0 0 2rem;
    width: 90%;
}
main .container {
    flex-direction: column;
    
}
.menu-principal,
.menu-principal
.titulo-menu,
.profile,
.icon-busca,
.titulo-menu{
    display: none;
}
.sobre-projeto .titulo-menu {
    display: block;
}
.option-mobile {
    display: flex;
}
.input-busca {
    width: 50vw;
}
.div-code {    
    width: 92vw;
}
.btn { 
    width: 92vw;
}
.icon-menu {
    margin-top: 1.2rem;
}
.sobre-projeto {
   position: relative;
   top: 3rem;
   margin-bottom: 01rem;
}   
.meu-projeto {
    width: 92vw;
    justify-content: space-between;
}
.meu-projeto,
.titulo-menu {
    display: flex;
    flex-wrap: wrap;
}
.projeto { 
    width: 88.5vw;
}
.rectangle29 {
    position: relative;
    margin-left: 1rem;
    margin-top: 0;
}
.rectangle29,
.input-linguagem {
    width: 44vw;
}
.input-salvar{
    width: 92vw;
    margin-bottom: 1rem;
}
.menu-smart { 
    width: 34vw;
    height: 35rem; 
    top: 7.6rem;    
}
.menu-principal {
    position: absolute;
    right: 19%;
    top: 9rem;  
    white-space: nowrap;
    z-index: 2;
    flex-wrap: wrap;
}
.menu-item {
    margin: 0;
}
.profile {
    z-index: 2;
    position: absolute;
    top: 21rem;
    right: 23vw;
}
.profile span {
    position: absolute;
    margin-top: 5px;
}
.linha {
    width: 27vw;
}
/* menu */
.menu-principal {
    position: absolute;
    right: 9rem;
    top: 9rem; 
    white-space: nowrap;
    z-index: 2;    
    flex-wrap: wrap;
}
.menu-item {
    margin: 0;
} 
.profile {
    z-index: 2;
    position: absolute;
    top: 21rem;
    right: 10rem;
}
.profile span {
    position: absolute;
    margin-top: 5px;
}