.exibicao-projetos{  
    width: 90rem;
    height: 984px;
    left: 21rem;     
    top: 15.2%;
    position: absolute;

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: flex-start;
    padding: 0px;
    
}

.lista-projeto {
    width: 36.8rem;
    height: 29rem;  /* AUMENTAR  */    
    border-radius: 8px;
    background: rgba(0, 0, 0, 0.16);    
    
}

.lista-projeto2 {       
    margin: 0 0 24px 24px;
}

.lista-projeto4 {
    margin: 0 0 32px 24px;
}

.code .lista-projeto1 {    
    width: 100%;
}

.lista-projeto1 .code {
    background: #9AFF6B;
}       

.my-code  {
    font-size: 11px;
    line-height: 15px;
    margin: 33px 20px 12px 12px;
}