
body {    
    background:#051D3B;
    font-family: 'Inter', sans-serif;  
    
}

.container {
    width: 94%;
    margin: 2% auto;
}

.headerM .container {
    display: flex;
    justify-content:space-between;    
}

.input-busca {
    width: 752px;
    height: 56px;    
    padding: 0 14px;
    background: rgba(255, 255, 255, 0.16);
    border-radius: 8px;
    font-size: 16px;
    line-height: 24px;  
    color: #ffffff;
    opacity: 0.64;
    border: none;    
}


.profile {
    display: flex;
    align-items: center;
    font-size: 16px;
    line-height: 24px;
    color: #ffffff;    
}

.profile img {
    margin: 0 8px;
}

.menu {
    margin: 0 0 16px;
}

.menu-item{
    padding: 0 0 0 16px;
    color: #FFFFFF;
    font-size: 16px;    
    text-decoration: none; 

    position: absolute;    
    margin: 1.1% 0;   
}

.comunidade{  
    opacity: 0.56;
}


.titulo-menu {
    color: #FFFFFF;
    font-size: 12px;    
    letter-spacing: 0.4em;
    text-transform: uppercase;    
    margin: 0 0 16px;
}

.rectangle37 {
    background: #5081FB;
    height: 48px;
    width: 48px;    
    display: inline-block;
    border-radius: 16px;
    text-align: center;
}

.rectangle37 img {
    margin-top: 25%;
}

main .container{
    display: flex;
    justify-content: space-between;
}

.div-code {    
    width: 752px;
    height: 366px;

    position: absolute;
    width: 752px;
    height: 366px;

    left: 28.2%;     
    top: 15.2%;
}
.code {    
    background: #6BD1FF;    
    border-radius: 8px;  
    padding: 32px;    
}

.code_editor {
    background: #141414;
    width: 688px;
    height: 302px;
    box-shadow: 0px 16px 24px rgba(0, 0, 0, 0.24);
    border-radius: 8px;  
    
}
.ellipse {   
    margin-left: 16px;
    margin-top: 16px;     
}

.my-code {
    color: #ffffff;
    width: 656px;
    height: 234px;
    font-size: 14px;
    line-height: 18px;
    font-family: 'Roboto Mono', monospace;     
    margin: 24px 16px 16px 16px;    
}

.btn {
    width: 752px;
    height: 56px;
    background: rgba(80, 129, 251, 0.08);
    border-radius: 8px;  
    border: none;
    font-size: 16px;
    line-height: 24px;
    color: #FFFFFF;
    margin: 32px 0;
    
}

.rectangle30 {
    width: 286px;
    height: 40px;
    background: #6BD1FF;
    border-radius: 4px;
    margin:  8px;
}

.rectangle-div {
    width: 100%;
    height: 56px;
    background: rgba(196, 196, 196, 0.01);
    border: 1px solid #FFFFFF;
    box-sizing: border-box;
    border-radius: 8px;
    margin: 16px 0 32px;
    
}

.meu-projeto .projeto, .input-linguagem {
    width: 272px;
    height: 56px;

    background: rgba(255, 255, 255, 0.16);
    color: #ffffff;
    border-radius: 8px;

    font-size: 16px;
    line-height: 24px;
    border: none;
    padding: 0 14px;   

    opacity: 0.64;
}

 .input-linguagem{
     width: 100%;
     background-color: #354d6b;
 }
#descricao-projeto {
    height: 80px;
    margin: 16px 0 40px;   
    
}

.input-salvar {
    color: #051D3B;
    background: #5081FB;
    width: 302px;
    height: 56px;
        
    border-radius: 8px;
    font-size: 16px;
    line-height: 24px;
    border: none;
    padding: 0 14px; 

}

.btn:hover, .input-salvar:hover{
    border: solid #6BD1FF;    
    cursor: pointer;
}


