@import "base.css";

main .container {
    display: flex;  
    justify-content: space-between;
}
.menu-principal {  
    width: 20vw;
}
.divProfile {
    width: 11rem;
}
.no-opacity,
#no-opacity {
  opacity: 1;
}
.exibicao-projetos{  
    width: 90vw;        
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    flex-wrap: wrap;    
}
.lista-projeto {
    width: 36.3vw;
    height: 34rem;    
    border-radius: 8px;
    background: rgba(0, 0, 0, 0.16); 
    word-wrap: break-word;
    margin-left: 1.5rem;
    margin-bottom: 1.5rem;
    display: flex;
    flex-direction: column;    
}    
.my-code  {
    font-size: 11px;
    line-height: 15px;    
    color: #FFFFFF;  /* retirar depois ? */
    font-family: 'Roboto Mono', monospace;  /* retirar depois ? */
}
#codigo {    
    width: auto;  
}
.dados-projeto{  
   display: inline-block;   
   position: relative;
   top: 1.5vw;
   right: 1.5vw;
   left: 1.5vw;    
   width: 28rem;
   height: 9rem;
   word-wrap: break-word;
   flex-direction: column;    
}
.titulo-projeto {
    font-weight: 700;     
    font-style: normal;
    font-weight: bold;
    font-size: 21px;
    line-height: 31px;
    color: #FFFFFF;
}
.linkProjeto {
    text-decoration: none;
    color: var(--branco);
}
.descricao-projeto {   
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
    color: var(--branco);
    opacity: 0.8;   
    margin-top: 0.5rem;
    margin-bottom: 3rem;
}
.dados-ordem{    
    display: flex;
    justify-content: space-between;   
    position:relative;
    margin-top: 0;
}
.ups-ordem {
    display: flex;  
    align-items: center;
    margin-left: 1rem;     
}
.love-up-efeito {
    margin: 0 0 0 1.1vw;
    display: flex;
    justify-content: center;
    padding: 10px;
}
.coment-up-efeito {
    display: flex;
    justify-content: center;
    padding: 10px;
}
.div-trash {
    position: absolute;
    margin: 0 0 0 10rem;
    display: flex;
    justify-content: center;
    padding: 10px;
    margin-bottom: 2px;    
}
.trash-icon {
    width: 22px;
    height: 22px;    
}
.love-up,
.coment-up {
    margin: 0 0 0 0.6vw;
    color: var(--branco);
}
.coment-up-efeito:hover,
.love-up-efeito:hover,
.div-trash:hover {
    background: rgba(255, 255, 255, 0.08);
    border-radius: 16px;
    cursor: pointer;
}
.coment-up-efeito:active,
.love-up-efeito:active {
    background: rgba(255, 255, 255, 0.16)
}
.cod-profile {
    display: flex;
    position: relative;
    margin-top: 0.5vw;
}
.divLogo {
    width: 9rem;
}
.name-user{   
    margin: 0 1vw 0 0.5vw;
    font-size: 16px;
    line-height: 24px;
    color: var(--branco);
}

