.container {
    width: 94%;
    margin: 2.2rem 1rem 0 1rem;
}
main .container {    
    flex-direction: column;
    justify-content: center;
}
.div-code {    
    width: 92vw;      
}
.input-busca,
.profile,
.menu-principal
.titulo-menu,
.menu-principal,               
.menu-smart {
    display: none;
}
.sobre-projeto .titulo-menu {
    display: block;    
}
.input-busca{
    width: 79vw;
    margin-right: 0.5rem;
}

.option-mobile {
    display: flex;
    margin-right: 1rem;
}
.icon-menu {
    padding: 10px;
}
.icon-menu:hover,
.icon-busca:hover {
    padding: 10px;
    background: rgba(80, 129, 251, 0.08);
    border-radius: 16px;
    cursor: pointer;
}
.icon-busca {
    margin: 0 1rem;
    padding: 10px;
}

.code {
    height: 30.75rem;
}
.code_editor {
    height: 100%;
}
.my-code {
  /*  width: 92%;
    height: 100%;
    */font-size: 14px;
    line-height: 18px;
    width: 88%;
    height: 85%;
}
.btn { 
    width: 92vw;
}
.sobre-projeto {        
    margin: 1.2rem 0 3rem 0;     
    width: 92vw;
    position: relative;
    top: 2rem;
}
.meu-projeto .projeto {
    width: 92.4%;
}
.input-linguagem {
    width: 92vw;
}
.input-salvar {
    width: 100%;
    margin: 0 0 1rem 0;
} 
.btn-cancel {
    width: 100%;
    margin-bottom: 1rem;
}
.menu-principal {
    position: absolute;
    right: 50%;
    top: 8rem; 
    white-space: nowrap;
    z-index: 2;    
    flex-wrap: wrap;
}
.menu-item {
    margin: 0;
} 

.profile {
    z-index: 2;
    position: absolute;
    top: 21rem;
    right: 1.9rem;
    width: 50%;
}
.profile span {
    position: absolute;
    margin-top: 5px;
}