@import "base.css";

body {
  background: var(--fundo);
  font-family: "Inter", sans-serif;
  font-weight: 400;
}

.container {
  width: 94%;
  margin: 2% auto;
}
.option-mobile,
.menu-smart,
.btn-cancel {
  display: none;
}
.headerM .container {
  display: flex;
  justify-content: space-between;
  align-items: center;  
} 
.divLogo {
  width: 18%;
}
.input-busca { 
  width: 54vw;
  height: 3.5rem;
  padding: 0 14px;
  background: var(--fundo-detalhes);
  border-radius: 8px;
  font-size: 1rem; /* 1rem = 16px */
  line-height: 24px;
  border: none;
  color: var(--branco);
  caret-color: var(--branco);
  opacity: 0.64;
  outline: none;  
}
.input-busca:hover{
  background: var(--fundo-detalhes-hover);
}
.divProfile {
  width: 20%;
  display: flex;
  justify-content: flex-end;
}
.profile {
  display: flex;
  align-items: center;    
  font-size: 1rem;
  line-height: 24px;
  color: var(--branco);
  border-radius: 8px;
  padding: 0.5rem 1rem 0.5rem 0.5rem ;  
}
.profile:hover {
  background: var(--fundo-profile-hover);
}
.profile img {
  margin: 0 8px;
}
.profile img:hover {
  cursor: pointer;
}
.profile span:hover {
  cursor: pointer;
}
.menu {
  margin: 0 0 1rem;
  opacity: 56%;
  display: flex;
}
.no-opacity,
#no-opacity {
  opacity: 1;
}
.no-opacity:hover,
.rectangle37_focus:hover {  
  transition: 0.5s;
}

.menu-item {
  color: var(--branco);
  font-size: 1rem;
  text-decoration: none;  
  line-height: 24px;  
  position: relative;
  padding: 0 0 0 1rem; 
  opacity: 0.56;
  top: 0.9rem; 
}
.opacity:hover {
  opacity: 0.72;
  transition: 0.5s ease-in;
}
.menu-item:focus,
.menu:focus {
  opacity: 1;
}
.rectangle37 {
  background: var(--fundo-menu);
  height: 48px;
  width: 48px;
  display: inline-block;
  border-radius: 1rem;
  position: relative;
}
.rectangle37hover:hover {
  background: var(--fundo-menu-hover);
  cursor: pointer;
  transition: 0.5s ease-in;
}
.rectangle37_focus {
  background: var(--fundo-menu-focus);
}
.rectangle37_focus:hover{
  cursor: pointer;  
}
.rectangle37 img {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
}
.titulo-menu {
  color: var(--branco);
  font-size: 12px;
  letter-spacing: 0.4em;
  text-transform: uppercase;
  margin: 0 0 1rem;
}
main .container {
  display: flex;  
  justify-content: space-between;
}
.menu-principal {  
  width: 12.1vw;
  flex-grow: 0.5;
}
.div-code {   
  width: 54vw;  
}
.code {
  background: var(--fundo-code-inicial);
  border-radius: 8px;
  padding: 2rem;
  height: 18.8rem;
}
.code_editor {
  background: var(--fundo-edt-code);
  width: 100%;
  height: 100%; /* 18.8rem */
  box-shadow: 0px 1rem 24px rgba(0, 0, 0, 0.24);
  border-radius: 8px;  
  position: relative
}
.ellipse {
  margin-left: 1rem;
  margin-top: 1rem;
}
.copy-icon {
  position: absolute;
  width: 25px;
  height: 25px;

  top: 5px;
  right: 160px;

  cursor: pointer;
  padding: 2px;
  border: 1px solid rgb(145, 144, 144);
  border-radius: 5px;
}
.alert {
  position: absolute;
  right: 120px;
  top: 30px;

  color: black;
  background: var(--branco);
  padding: 4px;
  border-radius: 8px;
  font-family: none;
  font-weight: 1;
  display: none;
  z-index: 2;
}
.export {
  position: absolute;
  right: 71px;
  top: 9px;
  
  background: var(--fundo-edt-code);
  color: rgb(145, 144, 144);
  font-family: "Inter", sans-serif;
  font-size: 17px;
  cursor: pointer;
  border: 1px solid;  
  border-bottom-left-radius: 4px;
  border-top-left-radius: 4px;
  z-index: 2;
  
}
#tipoImg{  
  border-right: 1px solid;
  border-top: 1px solid;
  border-bottom: 1px solid;
  border-left: none;  
  border-end-end-radius: 4px;  
  border-top-right-radius: 4px; 
  padding: 3px 0;

  text-align: end;

  cursor: pointer;
  position: absolute;
  right: 15px;
  top: 9px;

  background: var(--fundo-edt-code);  
  color: rgb(145, 144, 144);
  font-family: "Inter", sans-serif;
}
.my-code {
  height: 76%;
  width: 95.6%;
  margin: 1.5rem 1rem 1rem 1rem;
}
#codigo {   
  display: inline-block;
  width: 100%;
  height: 100%; 
  
  margin: 0 0 0 0;
  resize: none;
  border: none;
  
  outline: none;
  overflow-x: hidden;
  word-break: break-word;
  
  background: var(--fundo-edt-code);
  color: var(--branco);
  font-size: 14px;
  line-height: 18px;
  font-family: "Roboto Mono", monospace;
  white-space: pre-wrap;
}
.btn {
  width: 54vw;
  height: 56px;
  background: var(--btn-highlight-fundo);
  border-radius: 8px;
  border: none;
  font-size: 1rem;
  line-height: 24px;
  color: var(--branco);
  margin: 2rem 0 0 0;
}
.btn:hover {
  background: var(--btn-highlight-hover);
  cursor: pointer;
  animation-timing-function: ease-out;
  animation-duration: 300ms; 
}
.btn:active {
  background: var(--btn-highlight-active);
  border: 4px solid rgba(80, 129, 251, 0.24);
}
.btn:focus {
  background: var(--btn-highlight-focus);
}
.menu-smart {
  position: absolute;
  background: var(--menu-smart-fundo);
  border-radius: 8px;
  width: 69vw;
  height: 120vw;
  right: 0.9rem;
  top: 7rem;
  z-index: 1;
}
.linha {
  width: 55vw;
  border: 1px solid var(--branco);
  opacity: 0.08;
  position: absolute;  
  top: 10rem;
  left: 10%;
}

.rectangle29 {
  width: 100%;
  height: 56px;
  background: none;
  border: 1px solid var(--branco);
  box-sizing: border-box;
  border-radius: 8px;
  margin: 1rem 0 2rem;
}
.rectangle-color {
  width: 95%;
  height: 40px;
  margin: 8px;
  background: none;
  border: none;
  cursor: pointer;
  border-radius: 8px;
}
/* ---------------------------------  BORDA ARREDONDADA  ------------------------   */
.rectangle-color::-webkit-color-swatch-wrapper {
  padding: 0px;
  margin: 0px;
}
.rectangle-color::-webkit-color-swatch {
  border: none;
  border-radius: 8px;
}
.rectangle-color::-moz-color-swatch-wrapper {
  padding: 0px;
  margin: 0px;
}
.rectangle-color::-moz-color-swatch {
  border: none;
  border-radius: 8px;
}
/* ---------------------------------  ------------------------  ------------------------   */
.projeto,
.input-linguagem {
  width: 16.7vw;
  height: 56px;

  background: var(--fundo-detalhes);
  color: var(--texto-input);
  border-radius: 8px;

  font-size: 1rem;
  line-height: 24px;
  border: none;
  padding: 0 14px;
  opacity: 0.64;
  outline: none;
}
.input-linguagem {
  width: 18.5vw;
  background: var(--input-linguagem-fundo);
  resize: none;
}
.input-linguagem:hover {
  background: var(--input-linguagem-hover);
}
.projeto:hover {
  background: var(--fundo-detalhes-hover);
}
#descricao-projeto {
  padding-top: 1rem;
  padding-bottom: 1.5rem;
  margin: 1rem 0 2.5rem;
  font-family: "Inter", sans-serif;
  resize: none;
}
.projeto:focus,
#descricao-projeto:focus,
.input-busca:focus,
.input-linguagem:focus {
  outline: 2px solid #0073ff;
  outline-offset: -2px;
}
.input-salvar,
.btn-cancel {
  color: var(--texto-btn);
  background: var(--botao-fundo);
  width: 18.5vw;
  height: 56px;

  border-radius: 8px;
  font-size: 1rem;
  line-height: 24px;
  border: none;
  padding: 0 14px;
}
.btn-cancel {
  margin-top: 1rem;
}
.input-salvar:hover,
.btn-cancel:hover {
  background: var(--botao-hover);
  cursor: pointer;
  animation-timing-function: ease-out;
  animation-duration: 300ms; 
}
.input-salvar:active,
.btn-cancel:active {
background: var(--botao-active);
border: 4px solid rgba(80, 129, 251, 0.72);
}
.input-salvar:focus,
.btn-cancel:focus {
  background: var(--botao-focus);
}
